/* Chris Walker */

#searchBar {
    background-color: #329932;
}

.whiteText {
    color: #ffffff;
    text-align: center;
}

.content {
    background-color: #ffffff;
}

#productTitle {
    font-size: 40px;
    color: #777
}

#desc {
    font-size: 30px;
}

.jumbotron {
    margin-bottom: 0px;
}

.ratings {
    color: #FFDB00;
    font-size: 25px;
    text-align: center;
}

.reviewRatings {
    text-align: center;
}

/* Chris Boucher */




/* Callum Cooper */