/* Chris Walker */

#searchBar {
    background-color: #329932;
}

.whiteText {
    color: #ffffff;
    text-align: center;
}

.content {
    background-color: #ffffff;
}

#productTitle {
    font-size: 40px;
    color: #777
}

#desc {
    font-size: 30px;
}

.jumbotron {
 
}


/* Chris Boucher */
#panelLeft {
    background-color: #f6f6f6; 
}



/* Callum Cooper */