/*

    main.css

    chrisjwwalker, callum cooper, chris boucher

    CSS for styling specific bootstrap items

*/

/* Testing testing 2 */

/* Chris Walker */
#searchBar {
    background-color: #329932;
    margin-bottom: 0px;
}

#avatarPic {
	width: 40px;
	height: 40px;
}

.whiteText {
    color: #ffffff;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.content {
    background-color: #ffffff;
}

#productTitle {
    font-size: 40px;
    color: #777;
}

#orderImage {
    width: 200px;
    height: 200px;
}

#desc {
    font-size: 30px;
}

.jumbotron {
    margin-bottom: 0px;
}

.ratings {
    color: #FFDB00;
    font-size: 25px;
    text-align: center;
}

.reviewRatings {
    text-align: center;
}

#aboutHeadings {
    font-size: 30px;
}

#placeHolderTeam {
    font-size: 200px;
    text-align: center;
}

.input-group-addon {
    min-width:150px;
    text-align:left;
}

/* Chris Boucher */
.ratingsEmpty {
    color: #AAAAAA;
    font-size: 25px;
    text-align: center;
}

#panelLeft {
    background-color: #f6f6f6; 
}

#paymentDiv {
    height:auto;
    width:auto;
}

#paymentDiv img {
    max-width:100%; 
    max-height:100%;
    margin:auto;
    display:inline-flex;
}

#subtitle {
    color: #777;
}

#supersubtitle {
    color: #777;
}

textarea {
    resize: none;
}

#itemThumb img {
    max-height: 300px;
    max-width: 300px;
}

#carouselThumb {
    background: none;
    border: none;
    box-shadow: none;
}

#smallThumb {
    max-height: 300px;
    max-width: 300px;
    background: none;
    border: none;
    box-shadow: none;
}

#wishThumb {
    max-height: 100px;
    max-width: 100px;
    background: none;
    border: none;
    box-shadow: none;
}

#wishLine {
    padding: 30px;
    max-width: 500px;
}

#textLine {
    max-width: 300px;
}

#logo {
    width:auto;
    height:25px
}

/* Callum Cooper */
#uniqueNumberRef {
	color: red;
}